RewriteEngine On
RewriteBase /
RewriteRule ^(media/.*)$ - [L]
RewriteRule ^(admin_media/.*)$ - [L]
RewriteRule ^(borisaelen/dispatch\.wsgi/.*)$ - [L]
RewriteRule ^(.*)$ borisaelen/dispatch.wsgi/$1 [QSA,PT,L]