body {
    background: white;
}

nav {
    text-align: center;
}

nav a {
    color: red;
    font-size: 200%;
    text-decoration: solid;
    font-weight: bold;
    margin: 3em;
}

nav a:hover {
    text-decoration: none;
    color: red;
}

nav a:visited {
    text-decoration: none;
    color: red;
}
nav a:active {
    text-decoration: none;
    color: red;
}

svg {
    stroke-dasharray: 6;
    margin-top: 0;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.article_preview {
    padding: 10px;
    color: black;
    text-align: left;
    margin: auto;
    width: 40%;
    border: 1.5px solid gainsboro;
    border-style: dashed;
}

.article_preview a {
    color: black;
    font-size: 160%;
    font-weight: bold;
    text-decoration: none;
}

.article_preview_date {
    text-align: left;
    font-style: italic;
    margin-bottom: 0;
}

.article_preview_date hr {
    margin-top: 5px;
    border: none;
    border-top: 1px dotted red;
    color: #fff;
    background-color: #fff;
    height: 1px;
}

.article_preview a:hover {
    color: black;
}

.article {
    padding-top: 10px;
    padding-left: 5px;
    color: black;
    text-align: left;
    margin: auto;
    width: 60%;
    /* border: 1.5px solid gainsboro */
}

.whoami {
    color: black;
    text-align: left;
    margin: auto;
    width: 40%;
    text-align: left
}

.picture {
    display: flex;
    align-items: left;
    margin: 0em;
}


.article h1 {
    color: black;
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;
}

.article_preview p {
    font-size: 1;
    text-decoration: none;
}

footer p {
    text-align: center;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}