{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>¯\_(ツ)_/¯ borisaelen.nl</title>
    <link rel="icon" href="{% static 'blog/media/favicon.png' %}">
    <meta data-rh="true" name="robots" content="index,follow" />
    <meta data-rh="true" name="referrer" content="unsafe-url" />
    {% block social_head %}
    <!-- OpenGraph Meta Properties for correct sharing on Social Media goes here -->
    {% endblock social_head %}
</head>

<body>
    <nav>
        <a href="{% url 'blog:index' %}">blog</a>
        
        <a href="{% static url 'blog:whoami' %}">whoami</a>
    </nav>
    <svg style='width: 100%; height: 30; padding: 0%;'>
		<line x1="10%" y1="30" x2="12%" y2="15" style="stroke:rgb(255,0,0);stroke-width:2"/>
		<line x1="12%" y1="15" x2="88%" y2="15" style="stroke:rgb(255,0,0);stroke-width:2"/>
		<line x1="88%" y1="15" x2="90%" y2="0" style="stroke:rgb(255,0,0);stroke-width:2"/>
    </svg>
    <br> 
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
</body>
<!-- Footer -->
<footer>
    <hr>
    <p>Copyright &copy; Boris Aelen ¯\_(ツ)_/¯</p>
</footer>

</html>

