{% extends 'blog/base.html' %}
{% block social_head %}
    <!-- <meta name = "keywords" content = "Automation, Meta Tags, Metadata" /> -->
    <!-- <meta name="title" content="{{ article.title }}" /> -->
    <!-- <meta name="description" content="{{ article.content | truncatechars_html:150 }}" /> -->
    <!-- <meta name="author" content="{{ article.author }}" /> -->
    <meta name="title" property="og:title" content="{{ article.title }}" />
    <meta name="description" property="og:description" content="{{ article.content | striptags | truncatechars_html:150 }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://www.borisaelen.nl/static/blog/media/shrug_share_white.jpg" />
    <meta property="og:url" content="http://borisaelen.nl{% url 'blog:article' article.slug %}" />
    <meta name="author" property="article:author" content="{{ article.author }}" />
    <meta property="article:published_time" content="{{ article.pub_date }}" />
    <meta property="og:site_name" content="borisaelen.nl" />
    <meta property="fb:app_id" content="831186977385182" />

    <meta name="twitter:url" content="http://borisaelen.nl{% url 'blog:article' article.slug %}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@borisaelen" />
    <meta name="twitter:title" content="{{ article.title }}" />
    <meta name="twitter:image" content="http://www.borisaelen.nl/static/blog/media/shrug_share_white.jpg" />
    <meta name="twitter:description" content="{{ article.content | striptags | truncatechars_html:150 }}" />
{% endblock social_head %}

{% block content %}
{% if article %}
    <div class="row no-gutters">
      <div class="col-xs-14">
        <h1>{{ article.title }}</h1>
        <div class="article_preview_date">{{ article.pub_date|date:"j F Y" }}</div>
      </div>
      <div class="col-xs-4 ml-auto" id="stickyElement">
          {% block social %} {% include 'blog/social.html' %} {% endblock social %}
      </div> 
    </div>
    <div class="row">
      <div class="col-sm-12 article">
        {% autoescape off %} {{article.content}} {% endautoescape %}
        <br>
        <hr>
      </div>
    </div>
{% else %}
<p>No articles are available.</p>
{% endif %}

<!--
<div class="row">
  <div class="col-sm-6" style="margin:auto">
    <h3>$ Comments</h3>
    {% if comments %}
    {% for comment in comments %}
    <div class="comment">
      <p class="comment_title">
       {{ comment.name }} on {{ comment.created_on |date:"j F Y" }}:
     </p>
     {% autoescape off %} {{ comment.body }} {% endautoescape %}
    </div>
    {% endfor %}
    {% endif %}

    <div class="comment">
      {% if new_comment %}
      <div class="alert alert-success" role="alert">
        Thanks for commenting
      </div>
      {% else %}
      <h3>Leave a comment</h3>
      <form method="post">
        {{ comment_form.as_table }}
        {% csrf_token %}
        <button type="submit" class="comment_button">POST</button>
      </form>
      {% endif %}
    </div>
</div>
-->
</div>


{% endblock %}
