{% extends 'blog/base.html' %} 
{% block content %} 
    {% if latest_articles_list %} 
        {% for article in latest_articles_list %}
            <div class="article_preview">
                <a href="{% url 'blog:article' article.slug %}">{{ article.title }}</a> 
                <br><i>{{ article.pub_date }}</i>
                {% autoescape off %} 
                    {{article.content | truncatewords_html:50}} 
                {% endautoescape %}
            </div>
            <br><br> 
        {% endfor %} 
    {% else %}
        <p>No articles are available.</p>
    {% endif %} 

{% endblock %}