{% extends 'blog/base.html' %} 
{% block content %} 
    {% if latest_articles_list %} 
        {% for article in latest_articles_list %}
            <div class="article_preview">
                <a href="{% url 'blog:article' article.slug %}">{{ article.title }}</a> 
                <div class="article_preview_date">
                    {{ article.pub_date }}
                    <hr>
                </div>
                {% autoescape off %} 
                {{article.content | truncatewords_html:30}} 
                {% endautoescape %}
                 <a style="font-size: 1em;font-style: normal;" href="{% url 'blog:article' article.slug  %}">Read More ---></a>
            </div>
            
               
            <br><br> 
        {% endfor %} 
    {% else %}
        <p>No articles are available.</p>
    {% endif %} 

{% endblock %}