{% extends 'blog/base.html' %}
{% load static %} 
{% block content %} 
    {% if latest_articles_list %} 
        {% for article in latest_articles_list %}
        <div class="row">
            <div class="col-sm-6 article_preview">
                <a class="alignleft" href="{% url 'blog:article' article.slug %}">$ {{ article.title }}</a>
                <div style="clear: both;"></div>
                <div class="article_preview_date">
                    {{ article.pub_date |date:"j F Y"}}
                    <hr>
                </div>
                {% autoescape off %} 
                {{article.content | truncatewords_html:30}} 
                {% endautoescape %}
                <a style="font-size: 1em;font-style: normal;" href="{% url 'blog:article' article.slug  %}">Read More ---></a>
            </div>
        </div>
    {% endfor %} 
    {% else %}
        <p>No articles are available.</p>
    {% endif %} 

{% endblock %}