<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <title>¯\_(ツ)_/¯ borisaelen.nl</title>
    <link rel="icon" href="{% static 'blog/media/favicon.png' %}">
</head>

<body>
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <p style="font-size: 3em;">
                    <!-- ¯\_(ツ)_/¯ -->
                    <a style="text-decoration: none; color: black;" href="{% url 'blog:index' %}">¯\_(ツ)_/¯</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>