{% extends 'blog/base.html' %} {% load static %} {% block content %}
<div class="whoami">

    <h1>$ skills</h1>
    <pre class="language-bash">
- IT Infrastucture 
- Automation & Orchestration
- Cloud
- DevOps
- Powershell, JavaScript, Python
- Flexpod (Cisco UCS, NetApp, VMWare)
</pre>

    <h1>$ interests</h1>
    <pre class="language-bash">
- Fantasy
- Science (Fiction)
- Salsa 
</pre>

    <h1>$ contact</h1>
    <pre class="language-bash">
- <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/borisaelen/">linkedin</a>
- <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/borisaelen">twitter</a> 
- <a target="_blank" rel="noopener noreferrer" href="https://github.com/baelen-git">github</a> 
- <a target="_blank" rel="noopener noreferrer" href="mailto:boris@borisaelen.nl">e-mail</a>	
</pre>

    <h1>$ image</h1>
    <pre class="language-bash">
	<div class=picture>
		<img src="{% static 'blog/media/profile_pic.png' %}"/>
	</div>
</pre>
</div>
{% endblock %}