<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="BA_style.css">
	<title>Boris Aelen</title>
</head>

<body>
	<nav>
		<a href="main.html">blog</a>
		<a href="whoami.html">whoami</a>
		<a href="contact.html">contact</a>
		<a href="jemoeder.html">xxx</a>
	</nav>
	<svg style='width: 100%; height: 30;padding: 0%;'>
		<line x1="10%" y1="30" x2="12%" y2="15" style="stroke:rgb(255,0,0);stroke-width:2" />
		<line x1="12%" y1="15" x2="88%" y2="15" style="stroke:rgb(255,0,0);stroke-width:2" />
		<line x1="88%" y1="15" x2="90%" y2="0" style="stroke:rgb(255,0,0);stroke-width:2" />
	</svg>
	<p>
		Boris Aelen<BR>
		34 Years<BR>
		NetApp<br>
		Cisco
	</p>
</body>

</html>