{% extends 'blog/base.html' %} {% load static %} {% block content %}
<div class="row">
<div class="col-sm-6 whoami">

    <h2>$ skills</h2>
    <pre class="language-bash">
- IT Infrastucture 
- Automation & Orchestration
- Cloud
- DevOps
- Powershell, JavaScript, Python
- Flexpod (Cisco UCS, NetApp, VMWare)
</pre>
    <h2>$ interests</h2>
    <pre class="language-bash">
- Fantasy
- Science (Fiction)
- Salsa 
</pre>
    <h2>$ contact</h2>
    <pre class="language-bash">
- <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/borisaelen/">linkedin</a>
- <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/borisaelen">twitter</a> 
- <a target="_blank" rel="noopener noreferrer" href="https://github.com/baelen-git">github</a> 
- <a target="_blank" rel="noopener noreferrer" href="mailto:boris@borisaelen.nl">e-mail</a>	
</pre>
    <h2>$ image</h2>
    <pre class="language-bash">
	<div class=picture>
		<img src="{% static 'blog/media/profile_pic.png' %}"/>
	</div>
</pre>
</div>
</div>  
{% endblock %}